.myfooter {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #f1f1f1;
}

.myfooter .our-container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.myfooter .our-container .sec h2 {
  position: relative;
  color: black;
  font-weight: 500;
  margin-bottom: 15px;
}

.myfooter .our-container .sec h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: orange;
}

.myfooter .our-container .sec p {
  color: black;
}

.sci {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 10px;
}

.sci li {
  list-style: none;
}

.sci li a {
  display: inline-block;
  width: 48px;
  height: 48px;
  background: #3e56cb;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
}

.sci li a:hover {
  background: gray;
}

.sci li a {
  color: black;
  font-size: 20px;
}

.quicklinks {
  position: relative;
}
.quicklinks li {
  list-style: none;
}

.quicklinks li a {
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quicklinks li a:hover {
  color: gray;
}
.info {
  position: relative;
}

.info li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}

.info li span:nth-child(1) {
  color: black;
  font-size: 20px;
}

.info li span {
  color: black;
}

.info a {
  color: black;
  text-decoration: none;
}

.info a:hover {
  color: gray;
}

.copyrightText {
  width: 100%;
  background: #3498db;
  padding: 8px 100px;
  text-align: center;
  color: gray;
}
.copyrightText p {
  color: white;
  margin: 5px;
}

#MYBUTTON {
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 99;
  border: none;
  color: black;
  padding: 10px;
  background: red;
  border-radius: 10px;
}

#MYBUTTON:hover {
  background: #606060;
}

/*responsive*/
@media (max-width: 991px) {
  .myfooter {
    padding: 40px;
  }
  .myfooter .our-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .copyrightText {
    padding: 8px 40px;
  }
}

@media (max-width: 768px) {
  .myfooter .our-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
